body {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

header {
    background: #2d303a;
    width: 1020px;
    height: 89px;
    position: absolute;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    letter-spacing: -0.5px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

ul.nav li {
    display: inline;
}

.logo {
    width: 108px;
    height: 25px;
    margin-left: 40px;
    margin-top: 29px;
}